@font-face{
    src:url("../fonts/raleway-Medium.ttf");
    font-family: "raleway medium";
}

@font-face{
    src:url("../fonts/Raleway-Light.ttf");
    font-family: "raleway";
}


::-webkit-scrollbar{
    width:8px;
    background: #333;
}

::-webkit-scrollbar-thumb{
    background: #100142;
    border-radius: 10px;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #333;
    margin:0px;
}

*{
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-sizing: border-box;
}

header{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    display: flex;
    background: rgba(0,0,0,0);
    z-index:100;
}


header > #logo{
    height:130px;
    margin:0px;
}

header > #nav_pan{
    display: flex;
    margin:auto;
    margin-left:10px;
    height:100%;
}

header > #nav_pan > li{
    margin: 5px;   
    list-style-type: none;
}

header > #nav_pan > li >a{
    color:#fff;
    font-weight: bolder;
    font-size:x-large;
    margin:auto;
    border-radius: 6px;
    padding:10px;
    text-decoration: none;
    font-family: "raleway medium";
    background: rgba(16, 1, 66, 0.2);
    box-shadow:0px 0px 0px #ec248d; 
    display: inline-block;
}


header > #nav_pan > li >a:hover{
    background: #aa67cf;
    box-shadow:0px 0px 20px #ec248d; 
}

header > #nav_pan > li >a.active{
    background: #ec248d;
    box-shadow:0px 0px 10px #ec248d;
}

header > #nav_btn{
    width:50px;
    height:50px;
    margin:auto;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    display: none;
    padding:8px;
    box-sizing: content-box;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}


header > #nav_btn > span{
    width:100%;
    height:6px;
    margin:auto;
    margin-left: 0px;
    border-radius: 10px;
    background: #fff;
}


header > #nav_btn>span:nth-child(2){
    width:70%;
}
header > #nav_btn>span:nth-child(3){
    width:80%;
}

header > #nav_btn.active>span:nth-child(1){
    transform: translateY(20px) rotate(45deg);
}
header > #nav_btn.active>span:nth-child(2){
    width:0%;
    opacity:0;
}

header > #nav_btn.active>span:nth-child(3){
    width:100%;
    transform: translateY(-10px) rotate(-45deg);
}








header > #nav_btn:hover span{
    width:100%;
}

header.opaque{
    background: #222;
    
}
header.opaque > #logo{
    height: 80px;
}


.section{
    color:#fff;
    background: #100142;
}
.card h3{
    font-weight: bolder;
    font-family: raleway;
}
.card>.img>img{
    width:100%;
}


.card.faq{
    padding-top:55px ;
    width:60%;
    margin:auto;
    
    flex:1 1 100%;
}
.card.faq > .img{
    width:60px;
    height:60px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right: 0px;
    border-radius: 100px;
    overflow: hidden;
    border:2px solid #fff;
    box-shadow:0px 0px 10px var(--theme);
}



.faq > .q{
    font-size:1.5rem;
    font-weight: bolder;
    font-family: raleway;
}

.faq > .q:before{
    content:"\f0c6";
    font-family:fontAwesome;
}

.faq > p{
    margin-top:40px;
    line-height:1.5rem;
    text-indent: 100px;
}


.faq > p::first-letter{
    font-size:1.3rem;
    font-family:raleway;
    color:var(--theme);
    font-weight:bolder;
}

#home{
    min-height: 100vh;
    width:100%;
    background: url("../../assets/images/artimg-3.png"),#100142;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
}
#home >div {
    margin:auto;
    padding:10px;
    max-width: 450px;
}
#home > div >#tagline{
    color:#fff;
    text-align: center;
    font-family: "raleway medium";
    letter-spacing: 0.2rem;
    margin-top:100px;

}

#home > div > p{
    text-align: center;
    font-family: "raleway";
    font-weight: lighter; 
    margin-top:100px;
    color:#ddd;   
}

#about{
    min-height: 100vh;
}


footer{
    background: #000;
    color:#fff;
    font-family: raleway;
    padding:60px    20px;
    text-align:center;
}

footer > .flex-r > div{
    width:40%;
    min-width:250px;
    margin:auto;
    margin-bottom:20px;
}



a{
    color:orangered;
}

button{
    padding: 10px 20px;
    min-width:20%;
    margin-left:40px;
    font-weight:bolder;
    border-radius:10px;
    border:none;
    background: linear-gradient(to top right, var(--col0 ), var(--col1));
    font-family:raleway;
    color:#fff;
    font-size:1.1rem;
}

button:hover{
    
    background:  #fff;
    color:#333;
}


.flex-r{
    display: flex;
    flex-wrap:wrap;
}

.card{
    border-left:4px solid var(--theme);
    font-family: "raleway med";
    font-size:1.1rem;
    word-spacing: 0.2rem;
    line-height: 1.5rem;
    flex:1 1 250px;
    margin:10px;
    color:#333;
    padding:20px 25px;
    background: #fff;
}

.card .fa{
    display: block;
    font-size:2rem;
    padding:10px;
    border-bottom: 4px solid #ccc;
    position: relative;
    text-align: center;
}

.card .fa::after{
    content:"";
    position: absolute;
    height:4px;
    width:100%;
    bottom: -4px;
    left: 0px;
    width:0%;
    background: var(--theme);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.card:hover .fa{
    color:var(--theme);
}
.card:hover .fa:after{
    width:100%;
}

.stylish{
    font-family: raleway;
    text-align: center;
    margin-bottom:25px;
    position:relative;
}

.stylish:after{
    content:"";
    border-radius: 18px;
    position: absolute;
    display: block;
    width:10%;
    height:4px;
    background: linear-gradient(to right,transparent,salmon,#ec248d);
    box-shadow:2px 0px 4px #ec248d;
    bottom:-10px;
    left:50%;
    transform: translate(-100%);
    animation: stylishHead 2s linear infinite;
}






















#divider{   
    position: relative;
}

#divider:before{
    content: "";
    position: absolute;
    display: block;
    top:0px;
    left:50%;
    filter: opacity(0.4);
    background:url("../images/LOGO/sports-logo-transparent.png");
    transform: translate(-50%,-50%);
    width:100%;
    height: 120px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;

}















@keyframes colorChange{
    0%{
        color:hotpink;
    }
    25%{
        color:rgb(166, 255, 0);
    }
    50%{
        color:#ec248d;
    }
    75%{
        color: rgb(0, 255, 221);
    }
    100%{
        color: hotpink;
    }
}

@keyframes stylishHead{
    0%{
        background: linear-gradient(to right,transparent,salmon,#ec248d);        
        width:0%;
        left:40%;
        transform: translateX(-100%);
    }
    20%{
        width: 10%;
    }

    80%{
        width:10%;
    }
    
    100%{
        width: 0%;
        left:60%;
        transform: translateX(-100%);
    }

}

@keyframes showNav{
    0%{
        transform-origin: 100% 0%;
        transform: rotateY(180deg) rotateZ(20deg) rotateX(180deg) translateY(100%);
        display:flex ;
    }
    100%{
        
        transform-origin: 100% 0%;
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateY(100%);
        display: flex;
    }
}





@media only screen and (max-width:940px){
    header > #nav_pan{
        flex-direction: column;
        position: absolute;
        right:0px;
        bottom:0px;
        transform: translateY(100%);
        background: #222;
        padding:40px;
        height: auto;
        border-radius: 0px 0px 0px 20px;
        display: none;        
    }
    
    header > #nav_pan.show{
        display: flex;
        animation: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) showNav;
    }

    header > #nav_btn{
        display: flex !important; 
    }

}
